/*.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown { 
    position: relative;
    display: inline-block;
}
*/

.dropbtn:hover {
    background-color: #000;
    margin: 1%;
}

.dropdown :hover {
    font-size: 30px;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 2%;
    margin-right: 3%;
    background-color: #757474;
    min-width: 120px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    color: #000;
}

.dropdown-content :hover {
    font-size: 35px;
    margin: 2%;
}

.show {
    display: block;
}